extends layout

block content
  h1= title
  br
  ul 
    each message in messages 
      li
        p.user= message.user + ' : '
        p= message.text + ' '
          span.date= message.added
        br 
  a(href="/new") New message


